@{Layout = null;}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <link href="~/css/AdminStyleSheet.css" rel="stylesheet" />
</head>
<body>
    <form action="/" method="post">
        <div class="container">
            <label for="Id"><b>ID</b></label>

            <input type="text" name="Name" placeholder="Enter Id" />
        </div>
        <div class="container">
            <label for="psw"><b>Password</b></label>

            <input type="password" name="Password" placeholder="Enter Password" required />
        </div>
        <button type="submit">Log In</button>
    </form>
</body>
</html>