<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0" />
    <meta name="description" content="Affordable 3d printing" />
    <meta name="keywords" content="3D printing, materials, PETA, professional printing" />
    <meta name="author" content="Chihurumnanya Agwuocha" />
    <meta charset="utf-8" />
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link href="~/favicon.ico" rel="icon" />
    <title> EarlyMan | Welcome   </title>
</head>
<body>
    <header>
        <div>
            <nav>
                <ul>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Customer Service</a>
                    </li>
                    <li>
                        <a href="#">Sign in</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div class="Links">
            <ul id="bottomLink">
                <li><a href="#">content</a></li>
                <li><a href="#">content</a></li>
                <li><a href="#">content</a></li>
                <li><a href="#">content</a></li>
                <li><a href="#">content</a></li>
                <li><a href="#">content</a></li>
            </ul>
        </div>
        <div> Earlyman Inc.&copy; All rights reserved.</div>
    </footer>
</body>
</html>