<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Telefin </title>
</head>
<body>
    <div class="navbar navbar-inverse bg-inverse" role="navigation"></div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
