
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0"/>
    <meta name="description" content="Affordable 3d printing" />
    <meta name="keywords" content="3D printing, materials, PETA, professional printing"/>
    <meta name="author" content="Okeke David" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width", initial-scale\
          ="1", shrink-to-fit="no" />
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title> EarlyMan | Welcome   </title>
</head>
<body>
    <header>
        <p><img src="#" alt="Logo" /></p>
       
        <nav>
            <ul class="dropdown-menu-right">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Customer Service</a>
                </li>
                <li>
                    <a href="#">Sign in</a>
                </li>
            </ul>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div class="Links">
            <ul id="bottomLink">
                <li><a href="#">content</a></li>
                <li><a href="#">content</a></li>
                <li><a href="#">content</a></li>
                <li><a href="#">content</a></li>
                <li><a href="#">content</a></li>
                <li><a href="#">content</a></li>
            </ul>
        </div>
        <div> Earlyman Inc.&copy; All rights reserved.</div>
    </footer>
</body>
</html>
