<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Affordable 3d printing" />
    <meta name="keywords" content="3D printing, materials, PETA, professional printing" />
    <meta name="author" content="Chihurumnanya Agwuocha" />
    <meta name="viewport" content="width=device-width, initial-scale =1,
          shrink-to-fit = no" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" asp-href-include="/lib/font-awesome\css\font-awesome.css" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link href="~/favicon.ico" rel="icon" />
    <title> EarlyMan | Welcome   </title>
</head>
<body>
    <nav class="TempNav">
        <div class="container-s">
            <div id="branding">
                <h1> <a class="branding">EARLYMAN</a></h1>
            </div>
            <div class="navigation">
                <ul>
                    <li>  <a asp-controller="Home" asp-action="SignIn">Sign in</a></li>
                    <li><a asp-page="/ShoppingCart"><i class="fa fa-shopping-cart"></i></a></li>
                    <li> <a asp-page="/Settings">Settings</a></li>

                    @*<li>
                        <div class="dropdown">
                            <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                            <div id="myDropdown" class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>*@
                    @*<i class="fa fa dropdown"></i>*@
                    @*</li>*@
                </ul>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>
    <hr />
    <footer>
        <table>
            <tr class="footer-table-header">
                <th>Get to Know Us</th>
                <th>Make Money with Us</th>
                <th>Let Us Help You</th>
            </tr>
            <tr>
                <td>Careers</td>
                <td>About Earlyman</td>
                <td>Investor Relations</td>
            </tr>
            <tr>
                <td>Sell on Earlyman</td>
                <td>Become an Affiliate</td>
                <td>Advertise Your Products</td>
            </tr>
            <tr>

                <td>COVID-19</td>
                <td>Your Account</td>
                <td>Your Orders</td>
                <td><a href="mailto:davidokeke.c@gmail.com">Help</a></td>
            </tr>
        </table>
        <div class="text-white text-center"> Earlyman Inc.&copy; All rights reserved.</div>
    </footer>
    <script src="~/lib/jquery/jquery.slim.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap-4.5.2/js/bootstrap.min.js"></script>
</body>
</html>