@model IEnumerable<Print>

<section class="showcase">

    <hr />

    <div>

        <div id="carouselEX" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/carousel/Castle.jpg" class="d-block w-100" alt="Image 1" />
                </div>
                @foreach (var item in Model)
                {
                    <div class="carousel-item">
                        <a href="#"><img src="/assets/carousel/@string.Concat(item.Location,".jpg")" class="d-block w-100"></a>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="container regularart">
        @Html.Partial("ProductShowcase")
    </div>

    <div class="container">
        <hr />
        <h1>Services</h1>
        <div>
            <ul>
                <li style="list-style:none"><a href="#"></a></li>
            </ul>
        </div>
        <hr />
    </div>
</section>