@model IEnumerable<Print>
    <section class="showcase">

        <div class="ImageS">
            <hr />
            <h1>Prints</h1>
            <div class="container">
                <nav class="dPrints">
                    <ul>
                        @foreach (var print in Model)
                        {
                           

                            <li>
                                <div>@print.Name</div>
                                <a href="#"><img href=@print.Location></a>
                                <div class="printprice">@print.Price.ToString("c2")</div>
                            </li>

                        }
                    </ul>
                </nav>
            </div>
            <hr />
        </div>

        <div id="Prints">
            <hr />
            <h1>Artwork</h1>

            <p>
                <h2>
                   Shop for artwork here.
                </h2>
            </p>
            <hr />
        </div>

        <footer>
            <hr />
            <h1>Services</h1>
            <div class="Services">

                <ul id="OtherServices">
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <hr />
        </footer>
    </section>