@model Telefin.Models.ViewModels.HomepageItems

<section class="showcase">

    <div>

        <div id="carouselEX" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/Promotions/Castle.jpg" class="d-block w-100" alt="Image 1" />
                </div>
                @foreach (var item in Model.promotionRepository.Promos)
                {
                    <div class="carousel-item">
                        <a href="#"><img src="/assets/Promotions/@string.Concat(item.Location,".jpg")" class="d-block w-100"></a>
                    </div>
                }
            </div>
        </div>
    </div>
    <br />
    <div class="container regularart">
        @Html.Partial("ProductShowcase")
    </div>
</section>