    <section>
      <h1>
        David Okeke
      </h1>
      <span>
        <button><img src="/img/money.svg" alt="Image of money"> Manage your AZA</button>
        <button>Blog</button>
        <button>About</button>
      </span>

      <h2>Dedicated to being awesome and solid.</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto
        recusandae qui maxime atque voluptatibus ipsam repellendus ab temporibus
        aspernatur eligendi in obcaecati, ullam, laudantium tempore, mollitia
        error fuga! Exercitationem, assumenda!
      </p>
    </section>
 