@model Telefin.Models.ViewModels.HomepageViewModel

<div>
    <ul>
        @foreach (var item in Model.printRepository.Prints)
        {
            <li class="productSC">
                <img class="productImg" src=@string.Concat("/assets/Products/", item.Location + ".jpg") />

                @item.Description
            </li>
        }
    </ul>
</div>