@*@model IEnumerable<Print>*@
<div class="bg-info">
    <div>Insert images of regular image prints here</div>
</div>

<div>
    @*<ul>
            @foreach (var item in Model)
            {
                <li>
                    @item.Description
                </li>
            }
        </ul>*@
</div>