@{Layout = null;}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/UserStyleSheet.css" />
</head>
<body>
    <img class="container" src="~/assets/logo.png" alt="Logo" />
    <form class="container" action="/" method="post">
        <div class="container">
            <div><label for="Id"><b>Email</b></label></div>

            <input type="text" name="Name" placeholder="Enter Email" />
        </div>
        <div class="container">
            <div> <label for="psw"><b>Password</b></label></div>

            <input type="password" name="Password" placeholder="Enter Password" required />
        </div>
        <button type="submit">Log In</button>
    </form>
    <p class="container">New to Earlyman Inc.?</p>
    <a class="whitebutton" asp-controller="Customer" asp-action="Create">Create Account</a>
</body>
</html>