body {
    font-family: Arial,Arial;
    background-color: grey;
}

form {
    border: 3px solid #f1f1f1;
    margin-top: 50px
}

input[type=text],
input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label {
    display: inline;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 15px;
    border: none;
    cursor: pointer;
    width: 50%;
}

    button:hover {
        opacity: 0.8;
    }

.container {
    padding: 16px;
    margin: auto;
}