/*Global*/
* {
    box-sizing: border-box;
}

form {
    margin-bottom: 10px
}

body {
    font-family: Arial,Arial;
    font-size: 13px;
}

h3 {
    text-align: left;
    font-family: Arial;
    font-size: 28px;
}

.labelL {
    padding: 10px 0 5px 0;
}

.loginC {
    border: 1px solid #d2d2d2;
    margin: auto;
    width: 348px;
    border-radius: 4px;
    padding: 14px 18px 14px 18px;
}

input {
    width: 100%;
    padding: 10px;
}

p {
    text-align: center;
    font: 8px;
}
/*Buttons*/
button {
    background-color: rgba(76, 175, 80, 0.50);
    border-radius: 4px;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

    button:hover {
        background-color: #4CAF50;
    }

.whitebutton {
    background-color: white;
    border-radius: 4px;
    color: black;
    padding: 10px;
    border: 2px solid rgba(192, 188, 188, 0.87);
    text-decoration: none;
    display: block;
    text-align: center;
}

.blackbutton {
    background-color: black;
    border: 2px solid black;
    padding: 10px;
    width: auto;
    font-size: 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

    .blackbutton:hover {
        background-color: red;
    }

.whitebutton:hover {
    border: 2px solid black;
    color: red;
    background-color: white;
    text-decoration: none;
}

#coOfUse {
    padding-top: 10px;
}