/*Global*/
body {
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

nav ul {
    float: right;
}

.container-s {
    margin: 0px 10px 0px 60px;
    overflow: hidden;
}

/* Header, Navigation*/
.TempNav {
    background-color: white;
    min-height: 70px;
    color: white;
}

    .TempNav a {
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
    }

.navigation {
    padding-top: 30px;
}

#branding a, h1 {
    color: red;
    font-size: 20px;
    padding-top: 30px;
}

    #branding a:hover {
        font-weight: initial;
        color: red;
        background: initial;
    }

.TempNav li {
    padding: 0 20px 0 20px;
    display: inline;
    color: black;
}

.TempNav #branding {
    float: left;
}

nav a:hover {
    font-weight: bold;
    color: red;
}

#carouselEX img {
    width: 1093.6px;
    height: 419px;
}

.productImg {
    width: 450px;
    height: 300px;
    padding: 0;
    border: 0;
    border-radius: 0
}

#FeCate {
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
}

.productSC {
    display: inline;
    list-style-type: none;
}

.productImg:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186,0.5);
}

footer {
    background-color: dodgerblue;
}

    footer > table {
        margin: auto;
        width: 100%;
        color: white;
        font-family: Arial,sans-serif;
    }

    footer td, th {
        padding: 8px;
        text-align: center;
    }

    footer a {
        color: white;
    }