/*3DPrint Nav*/
body {
    background-color: black;
    color: white;
}


img {
    display: inline;
}

a:hover {
    color: aquamarine;
}

.container {
    margin: auto;
    width: 80%;
    overflow: hidden;
}

/*Header*/
header {
    color: azure;
    padding-top: 30px;
    min-height: 70px;
    height: 200px;
    background-color: white;
}

    header nav {
        float: right;
        text-align: center;
        font-family: Verdana;
        width: 20em;
        background: white;
    }

    header li {
        display: inline;
        padding: 0 0 0 0;
    }

    header a:hover {
       
        color: black;
    }

ul {
    padding: 0 0 0 0;
}
